.btn1{
    background-color: rgb(255,216,20);
    border: none;
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn2{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

.btn3{
    background-color: rgb(230,230,230);
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.is-toggled{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
}