.btn{
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
}


.is-toggled{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.js-input{
    padding: 10px;
}

.CalBtn{
     padding: 12px 15px;
     background-color: rgb(58, 133, 58);
     border: none;
     color: white;
}

.js-calCost{
    color: red;
    font-family: Arial;
}