body{
 background-color: black;
}

.btn{
    background-color:rgb(51,51,51) ;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 5px;
    font-size: 26px;
    cursor: pointer;
}

.Clearbtn{
    font-size: 17px;
}

.btnOp{
    background-color: rgb(254, 160, 10);
    color: white;
}

.js-CalResult{
    color: white;
    font-size: 45px;
    font-family: Arial;
    margin-top: 15px;
    margin-bottom: 5px;

}