body{
    font-family: Arial, Helvetica, sans-serif;
}
.pic1 {
  width: 300px;
  border-radius: 10px;
  margin-right: 40px;
}

.pic2 {
  width: 200px;
  height: 200px;
  margin-right: 40px;
  object-fit:cover;
  object-position: center;
}

.pic3 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}

.t1{
    height: 25px;
    border-radius: 5px;
    border:1px rgba(128, 128, 128, 0.544) solid;
    font-size: 10px;
}

.t2{
   border: none;
   border-radius: 30px;
   width: 280px;
   box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.303);
   font-size: 10px;
   padding: 8px 10px;
}

label{
    font-size: 15px;
    color: rgb(96,96,96);
    
}
.t3{
    border-radius: 3px;
    border:1px black solid ;
    width: 320px;
    height: 20px;
    margin-top: 0;
}

.p1{
    font-size: 13px;
    color:rgb(96,96,96);
}

.p2{
    background-color: rgb(0, 115, 255);
    color: white;
    width: 305px;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
}

.pic4{
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    vertical-align: middle;
}

.t4{
    border: none;
    vertical-align: middle;
    width: 250px;
    font-size: 16px;

}

button{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding:8px 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
